@import "tailwindcss";

.debug, .debug-red {
  outline: 1px solid red;
}

.debug-blue {
  outline: 1px solid blue;
}

.debug-green {
  outline: 1px solid green;
}

.svg-white {
  filter: brightness(0) saturate(100%) invert(1);
}

.roboto-condensed {
  font-family: "Roboto Condensed", sans-serif;
}

.chewy-regular {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
}